<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <!--<include path="~/Content/materialize/css/materialize.min.css" />-->
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/DataTables/css/dataTables.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/buttons.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/autoFill.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/colReorder.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/fixedColumns.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/fixedHeader.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/keyTable.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/responsive.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/rowGroup.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/rowReorder.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/scroller.bootstrap4.min.css" />
    <include path="~/Content/DataTables/css/select.bootstrap4.min.css" />
    <include path="~/Fonts/material-icons.css" />
  </styleBundle>
</bundles>