.btn-info, .card-info, .bg-info {
    background-color: #70bbe8 !important;
    border-color: #70bbe8 !important;
}

/*.btn-primary, .card-primary {
    background-color: #113182 !important;
    border-color: #113182 !important;
}*/

.btn-success, .card-success, .bg-success {
    background-color: #43c9af !important;
    border-color: #43c9af !important;
}

.card-outline-info, .btn-outline-info {
    border-color: #70bbe8 !important;
}

/*.card-outline-primary, btn-outline-primary {
    border-color: #113182 !important;
}*/

.card-outline-success, .btn-outline-success {
    border-color: #43c9af !important;
}
.text-white {
    color: white;
}
.btn {
    cursor: pointer;
    line-height: 36px;
    padding: 0 2rem;
}
.icon-button {
    line-height: inherit;
    margin: auto 10px auto -22px;
}
.text-info {
    color: #70bbe8 !important;
}
.text-success {
    color: #43c9af !important;
}
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parallax-container .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%);
}
.table-sm > tbody > tr > td {
    font-size: 12px !important;
}
.table-sm > thead > tr > th {
    font-size: 12px !important;
}
.align-icons {
    margin: -45px 0 -75px !important;
}
.kill {
    display: none;
}
.rellenar {
    width: 100%;
}